*.eot
*.ico
*.lock
*.log
*.png
*.snap
*.svg
*.ttf
*.woff
*.woff2
.DS_Store
*.env
*.sh
*.chunk.*
*.min.*
runtime~main.*
.git
.gitattributes
.gitignore
.idea/*
.npmrc
.nvmrc
dist
LICENSE
node_modules
public
