#tab-splits {
	table {
		#interval-summary {
			background: lightblue td {
				padding: 8px;
				text-align: left;
			}
		}
		td.summary-value {
			padding-right: 40px;

            div.summary-label{
                font-size:9px
            }
		}
	}
}
